{%- set ns = namespace(prefix='') -%}
{%- for _ in pagename.split('/') -%}
  {%- set ns.prefix = ns.prefix ~ '../' -%}
{%- endfor -%}
{%- set current_language = guidebook_language | default(language, true) -%}
<div class="language-switcher">
  <label for="language-switcher-select">{{ _('Languages') }}</label>
  <select
    id="language-switcher-select"
    onchange="if (this.value) window.location.href = this.value"
  >
    <option value="{{ ns.prefix }}en/{{ pagename }}.html"{% if current_language == 'en' %} selected{% endif %}>English</option>
    <option value="{{ ns.prefix }}zh_CN/{{ pagename }}.html"{% if current_language in ['zh', 'zh_CN'] %} selected{% endif %}>简体中文</option>
  </select>
</div>
